@import "./Table.scss";
@import "./select.scss";
@import "./notification.scss";
.error-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-top: 10px;
  color: #db2379;
  display: flex;
  align-items: center;
}
