#table {
  min-width: 400px;
  border-collapse: collapse;
  background: #F5F8FF;
  thead {
    height: 56px;
    background: #E6EDFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 30px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    tr {
      th {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100.9%;
        padding: 27px;
        color: #60739F;

        &:first-child{
          border-radius: 8px 0 0 8px;
        }

        &:last-child{
          border-radius: 0 8px 8px 0;
          padding-left: 38px;
        }
      }
    }
  }
  tbody {
    width: 100%;
    background: #F5F8FF;
    border-radius: 8px;
    overflow-y: scroll;
    height: 87%;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: none;
      border-radius: 30px;
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(0deg, #d1defa, #d1defa), #f5f8fd;
      border-radius: 30px;
      border: 1px solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: green;
    }
    tr {
      border-bottom: 1px solid #E5EDFF;
      cursor: pointer;
      &:last-child{
        border: none !important;
      }
      &:hover{
        -moz-transition: cursor 500ms ease-in-out;
        -o-transition: cursor 500ms ease-in-out;
        -webkit-transition: cursor 500ms ease-in-out;
        transition: cursor 500ms ease-in-out;
      }
      td {
        padding: 30px !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100.9%;
        color: #394560;
        padding: 10px 15px;
        .active{
background: #E1F9F2;
border-radius: 6px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100.9%;
padding: 10px 15px;
color: #198061;
        }
        .inactive{
background: #F9DCEA;
border-radius: 6px;
padding: 10px 15px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100.9%;
/* or 14px */


color: #841549;
        }
      }
    }
  }
}
