#table {
  min-width: 400px;
  border-collapse: collapse;
  thead {
    height: 56px;

    background: #edf2fd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    tr {
      border-radius: 6px;
      th {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        padding: 20px 30px;
        align-items: center;
        letter-spacing: 0.03em;

        /* Main */

        color: #4679ec;
      }
    }
  }
  tbody {
    width: 100%;
    background: #fafbfe;
    border-radius: 6px;
    padding-top: 20px;
    tr {
      cursor: pointer;
      td {
        border: none;
        padding: 20px 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #464e5f;
      }
    }
  }
}
